/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
/* Подключение Inter Variable font */
@font-face {
  font-family: 'Inter';
  src: 
    local('Inter Variable'),
    url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 410 715;
  font-display: swap;
  font-style: normal;
}

/* Подключение Press Start 2P Regular */
@font-face {
  font-family: 'PressStart2P';
  src: 
    local('Press Start 2P Regular'),
    local('PressStart2P-Regular'),
    url('./PressStart2P-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}