/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 84px;
  justify-items: center;
}

.header {
  max-width: 700px;
  margin-block-start: 14px;
  padding-inline: clamp(1rem, -1.3548rem + 10.0469vw, 7.6875rem);
  padding-block: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  background-color: #fff;
  border: 2px solid #000;
  margin-block-end: 96px;
}

.header__text {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-title);
  font-size: clamp(49px, 6vw, 65px);
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.subtitle {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-title);
  font-size: clamp(14px, 2vw, 23px);
  line-height: 100%;
  text-transform: uppercase;
}

main {
  display: grid;
  gap: 49px;
  width: 100%;
  max-width: 947px;
  margin: 0 auto;
  padding-inline: clamp(1rem, -1.3548rem + 10.0469vw, 7.6875rem);
}

.card {
  min-height: 758px;
  max-width: 700px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  position: relative;
  height: 700px;
  overflow: hidden;
  margin-block-start: 6px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.image-content {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card__title {
  font-family: var(--font-family-variable), sans-serif;
  font-variation-settings: var(--font-variation-title);
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  padding-top: 6px;
  padding-left: 10px;
}

.card__text {
  font-family: var(--font-family-variable), sans-serif;
  font-variation-settings: var(--font-variation-text);
  font-size: 18px;
  line-height: 21px;
  padding-left: 26px;
  padding-top: 25px;
  padding-right: 25px;
}

.html-tag-overlay {
  position: absolute;
  top: 32px;
  left: 623px;
  transform: translate(-50%, -50%);
  text-shadow: 
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF,
    0 0 4px #FFFFFF,
    0 0 8px #FFFFFF;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-card-button);
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  z-index:1;
}

.like-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.button__position {
  margin-top: 22px;
}

.button {
  position: relative;
  background: transparent;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-card-button);
  font-size: 14px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card__buttons {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.save_icon {
  width: 21px;
  height: 21px;
}

.dialog {
  width: 353px;
  position: fixed;
  border-radius: 0;
  overflow: hidden;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: flex;
  gap: 20px;
  margin-inline-end: 27px;
  margin-inline-start: 10px;
  margin-block-start: 1px;
}

.dialog_icon {
  margin-block-start: 24px;
  width: 85px;
  height: 39px;
}

.dialog__text {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 14px;
  line-height: 150%;
  margin-block-start: 13px;
  text-transform: uppercase
}

.image-grayscale {
  filter: grayscale(100%);
}

.image-brightness {
  filter: brightness(1.5);
}

.image-sepia {
  filter: sepia(80%);
}

.image-blur {
  filter: blur(6px);
}

.image-hue-rotate {
  filter: hue-rotate(90deg) saturate(1.2);
}

.image-saturate {
  filter: saturate(2);
}

.image-multiple-filters {
  filter: 
    sepia(30%) 
    hue-rotate(-20deg) 
    brightness(1.1) 
    contrast(0.9)
    saturate(1.3);
}

.card__like-button {
  width: 130px;
  height: 38px;
  padding: 0;
  line-height: 90%;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-bg);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button .button__text {
  position: relative;
  color: var(--text-color);
  mix-blend-mode: difference;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card__icon-button {
  position: relative;
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  width: 43px;
  height: 36px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button .like-icon {
  display: block;
}

.save__button {
  background-color:#fff;
  width: 335px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: clamp(34.5px, 12.67vw, 182.5px);
  gap: 8px;
}

.save__button:focus {
  outline: none;
}

.save__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.save__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-bg);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.save__button:hover::before {
  transform: translateX(0);
}

.save__button .button__text,
.save__button .save_icon {
  position: relative;
  color: var(--accent-color);
  z-index: 2;
}

.save__button:hover .button__text,
.save__button:hover .save_icon {
  color: var(--text-color);
  mix-blend-mode: difference;
}

.save__button .save_icon {
  width: 21px;
  height: 21px;
}

.dialog__button-close {
  width: 293px;
  height: 38px;
  margin-block-start: 32px;
  margin-inline-start: 10px;
  line-height: 90%;
}

.dialog__button-close:focus {
  outline: none;
}

.dialog__button-close:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.dialog__button-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-bg);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.dialog__button-close:hover::before {
  transform: translateX(0);
}

.dialog__button-close .button__text {
  position: relative;
  color: var(--text-color);
  mix-blend-mode: difference;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button__text {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-card-button);
  font-size: 14px;
  line-height: 90%;
}

.card__like-button:active,
.save__button:active,
.dialog__button-close:active {
  transform: translateY(1px);
}

.card__icon-button:hover .like-icon {
  transform: scale(1.1);
}

.save__button:hover .save_icon {
  transform: rotate(5deg);
}

.image-contrast {
  filter: contrast(1.5);
}

.like-icon:hover {
  transform: scale(1.05);
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon .sparks {
  fill: transparent;
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--core-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--main-body-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .like-icon .core {
  fill: var(--active-color);
  transition-delay: 0s;
}

.card__icon-button:active .like-icon .main-body {
  fill: var(--active-color);
  transition-delay: 0.05s;
}

.card__icon-button:active .like-icon {
  transform: scale(0.95);
}

.card__icon-button:active .like-icon:hover {
  transform: scale(0.95);
}

.like-icon.is-liked .core {
  fill: var(--active-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--active-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--active-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  fill: var(--sparks-color);
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .html-tag-overlay {
    color: #000;
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@supports not ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .html-tag-overlay {
    text-shadow: 
      -1px -1px 0 #FFFFFF,
      1px -1px 0 #FFFFFF,
      -1px 1px 0 #FFFFFF,
      1px 1px 0 #FFFFFF,
      0 0 4px #FFFFFF,
      0 0 8px #FFFFFF;
  }
}

@media (width <= 375px) {
  .page {
    padding-top: 100px;
    gap: 5px
  }

  .header {
    width: 375px;
    min-height: 326px;
    margin-block-start: 0px;
    padding-block: 0;
    padding-inline: 0;
  }

  .header__text {
    padding-top: 120px;
  }

  .main {
    gap: 50px;
    padding-inline: 0;
  }

  .card__title {
    padding-top: 5px;
    line-height: 122%;
    padding-right: 2px;
  }

  .card {
    min-height: 716px;
  }

  .card__text {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 27px;
  }

  .image-wrapper {
    height: 375px;
    margin-block-start: 3px;
  }

  .html-tag-overlay {
    top: 30px;
    left: 297px;
  }

  .card__buttons {
    padding-right: 25px;
    padding-top: 46px;
    padding-bottom: 25px;
  }

  .button__position {
    margin-top: 0px;
  }

  .card__like-button {
    padding-top: 6px;
  }

  .save__button {
    flex-direction: column;
    width: 306px;
    height: 84px;
    gap: 13px;
    margin-inline-start: clamp(34.5px, 8.67vw, 182.5px);
  }

  .save_icon {
    transform: scale(1.3);
    margin-top:1px;
  }
}