/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family-variable: 'Inter';
  --font-family: 'PressStart2P';
  --font-weight-card-title: 715;
  --font-weight-card-title-inter: 715;
  --font-weight-card-text-inter: 410;
  --font-weight-text: 400;
  --font-weight-card-button: 400;
  --contour-color-svg: #000;
  --accent-color: #000000;
  --text-color: #ffffff;
  --hover-bg: #000000;
  --contour-color: #000000;
  --animation-fill-color: #FF0000;
  --contour-color: #000000;
  --main-body-color: #000000;
  --core-color: #000000;
  --sparks-color: #FF0000;  
  --active-color: #FF0000;
}